<div id="messages"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th>Codec</th>
            <th>Direct</th>
            <th>Transcode</th>
          </tr>
          {{#each model as |format|}}
            <tr>
              <td>{{format.name}}</td>
              <td>
                <i class="fa {{format.directUiClass}}"></i>
              </td>
              <td>
                <i class="fa {{format.transcodeUiClass}}"></i>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-xs-right">
      {{mic-check}}
    </div>
  </div>
</div>

{{outlet}}
