<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th>Codec</th>
            <th>Direct</th>
            <th>Transcode</th>
          </tr>
          {{#each model as |format|}}
            <tr>
              <td>{{format.name}}</td>
              <td>
                <i class="fa {{if format.direct 'fa-check text-success' 'fa-times text-danger'}}"></i>
              </td>
              <td>
                <i class="fa {{if format.transcode 'fa-check text-success' 'fa-times text-danger'}}"></i>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{mic-check}}
    </div>
  </div>
</div>

{{outlet}}
